.git
.gitignore
.idea
.vscode
**/.idea
**/.vscode
**/target
**/build
**/*.log
**/*.tmp
**/.DS_Store
**/Thumbs.db
**/.classpath
**/.project
**/.settings
**/.factorypath
**/.springBeans
**/.sts4-cache
**/.apt_generated
**/*.iml
**/*.ipr
**/*.iws
**/.env
**/.env.*
!/.env.example
HELP.md
README.md
