POSTGRES_DB=ai_engineering_workspace
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=postgres
DB_PORT=5432
DB_NAME=ai_engineering_workspace
DB_USERNAME=postgres
DB_PASSWORD=postgres
APP_PORT=8080
